@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

.navbar
{
    display: flex;
    padding: 10px 40px;
    justify-content: space-between;
    align-items: center;
}

.nav-menu li
{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 11pt;
    padding: 20px 10px;
    display: inline-block;
    list-style: none;
    text-decoration: none;
}

button
{
    padding: 9px 25px;
    color: white;
    background-color: black;
    border-radius: 8px;
    cursor: pointer;
}

.content
{
    justify-content: center;
    padding: 20px 10px;
    display: flex;
    height: 50%;
}

@media screen and (max-width: 960px) 
{
    body
    {
        display: none;
    }
}