@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

.hero
{
    width: 100%;
}

.logo img
{
    width: 40px;
}

.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.nav-menu li
{
    font-family: 'Montserrat';
    font-weight: 800pt;
    font-size: 10pt;
    letter-spacing: 1.2pt;
    padding: 20px 10px;
    display: inline-block;
    list-style: none;
    text-decoration: none;
}

button
{
    padding: 9px 25px;
    color: white;
    background-color: black;
    border-radius: 8px;
    cursor: pointer;
}

.content img
{
    width: 100%;
}

.details
{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.details h1
{
    font-family: 'Montserrat';
    font-weight: 500pt;
    font-size: 18pt;
}

.specs
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: inline-block;
    padding: 0px 20px;
}

.card
{
    display: block;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.card .main-header
{
    font-family: 'Montserrat';
    font-size: 11pt;
    letter-spacing: 1.0px;
    opacity: 50%;
}

.card .sub-header
{
    font-size: 16pt;
    font-weight: 900;
}

.make
{
    font-family: 'Montserrat';
    font-size: 11pt;
    font-weight: 00pt;
}

.model
{
    font-family: 'Montserrat';
    font-size: 10pt;
    opacity: 50%;
}

.carousel
{
    padding: 0px 2px;
}

.carousel img
{
    width: 128px;
    height: fit-content;
}

@media screen and (max-width: 960px) 
{
    body
    {
        display: none;
    }
}