@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

.navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
}

.nav-menu li
{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 11pt;
    padding: 20px 10px;
    display: inline-block;
    list-style: none;
    text-decoration: none;
}

.nav-menu li:hover
{
    font-weight: 700;
    font-size: 17pt;
}

button
{
    padding: 9px 25px;
    color: white;
    background-color: black;
    border-radius: 8px;
    cursor: pointer;
}

button:hover
{
    color: black;
    background-color: transparent;
    font-size: 15pt;
}

@media screen and (max-width: 980px) 
{
    body
    {
        display: none;
    }
}